<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <main>
        <h1 id="title">Weather App</h1>
        <div id="center">
            <div id="white">
                <form action="javascript:void(0);">
                    <input type="text" placeholder="Search" id="myInput" onclick="this.focus()" />
                    <button type="submit"></button>
                </form>
                <div id="data">
                    <h1 id="location"></h1>
                    <p id="temp"></p>
                    <img src="" alt="" id="condition" style="width: 5em">
                </div>
            </div>
            <div id="footer">
                <span title="Sep. 21, 2021">Made by Alex Reed</span>
                <br />
                <a href="https://linkedin.com/in/alextreed" class="fa fa-linkedin"></a>
                <a href="http
          s://github.com/alex-t-reed" class="fa fa-github"></a>
            </div>
        </div>
    </main>
</body>
<script src="js/script.js"></script>

</html>